---
title: Benchmarks for Compliance Scanner for PCF (Beta)
owner: Pivotal Compliance and Innovation (PCI) Team
---
<strong><%= modified_date %></strong>

<%= partial ("beta-partial") %>

This topic describes the different benchmarks used for scanning in
<%= vars.product_full %> (PCF).


## <a id="overview"></a> Overview

When using <%= vars.product_short %>, one of the items used to configure scans
are Benchmark profiles. Benchmarks determine which tests are run by the scanner.

<%= vars.product_short %> offers four scanning benchmarks:

+ [Base Xenial](./benchmarks.html#base)
+ [Recommended Security Baseline](./benchmarks.html#recommended)
+ [Strict Security Practices](./benchmarks.html#strict)
+ [STIG for Ubuntu Xenial](./benchmarks.html#stig)

## <a id="base"></a> Base Xenial
This benchmark is a subset of the full STIG benchmark.
It removes globally failing tests due to stemcell differences (diego cells VM has 8 known failed tests still).
Since the removed failed tests do not threaten the security of the system,
the remaining tests are meant to serve as a baseline of unaltered stemcells.
This can be used to see if the configurations have been further modified.

For more information about the STIG benchmark, see [STIG for Ubuntu Xenial](benchmarks.html#stig) below.


## <a id="recommended"></a> Recommended Security Baseline
This benchmark was developed internally, and includes tests based on Pivotal's minimum recommended configuration baseline.
Your system should implement this benchmark, regardless of the user's environment or sensitivity of application data being processed.

(EDIT - All Systems ... do we imply that we can use vSphere vs AWS vs Azure?)


## <a id="strict"></a> Strict Security Practices
Tests covered in this benchmark are reflective of the current best practices.
The strict configuration being tested may not be required for low assurance applications.
However, the tests become a requirement for systems processing sensitive data and workloads.
For example, requiring audit logging takes time and space, but it is required for sensitive tests.
This would not be needed when testing a "low assurance" application.

(EDIT - Describe "audit logging")


## <a id="stig"></a> STIG for Ubuntu Xenial
This benchmark contains the full Ubuntu 16.04 (Xenial) Security Technical Implementation Guide (STIG) set of tests.
This guide is published by the Defense Information Systems Agency (DISA).
This version of the benchmark contains the standard set of STIG tests,
with small changes made to accomodate the testing of stemcells.
Normally STIG runs against Ubuntu Server images.
The small changes are limited to modifying the file path and regex.
These changes do not compromise the integrity of the tests themselves.
The failing tests from scanning using this benchmark highlights the fundamental differences between a stemcell and its standard Ubuntu counterpart.

A test can fail for the following reasons:

  1. The failed test is specific to a standard Ubuntu Server image,
     but is not applicable to a stemcell
  1. (EDIT) The failed test adheres to a lower security standard than what Pivotal(?) verifies with the stemcell.
  1. (EDIT) It actually failed?

Auditors can further assess each test individually to gauge the security impact.
