---
title: Compliance Scanner for PCF
owner: Pivotal Compliance and Innovation (PCI) Team
---
<strong><%= modified_date %></strong>

<%= vars.product_full %> (PCF) provides platform operators and auditors an
assessment of each PCF Linux VM running on Xenial stemcells and,
if it is compliant, with configuration guidelines.

The following VM types on an Ops Manager instance are skipped for scanning
and do not have Compliance Scanner deployed on them:

  * Linux VMs running on Trusty stemcells
  * Non-Linux VMs


## <a id='overview'></a>Overview
Benchmarks for existing commercial configuration scanners are intended for use against
traditional Ubuntu servers. This means that running these benchmark scans against
a stemcell results in numerous false positives.

<%= vars.product_short %> addresses this issue by tuning industry-recognized
Ubuntu configuration benchmarks for stemcells.

<%= vars.product_short %> packages the following files for deployment on each BOSH-managed Linux VM:

  * The OpenSCAP (OSCAP) scanner
  * XFiles: A group of YAML files that contains configuration tests written in YAML.
  * The XCCDF Generator (XGen): This translates XFiles tests to the SCAP format.

<%= vars.product_short %> is installed through Ops Manager.
As part of the installation, it deploys each packaged component to each PCF Linux VM
and instantiates a new Linux VM, `oscap_store`, for log retrieval.

Scans are errands that are triggered through Ops Manager.
After a successful scan, operators can retrieve reports through the tile.
Operators can download these reports to their local machine.

For more information on the tests, test coverage, and test criteria covered by these benchmarks,
see the PDF files included on the [<%= vars.product_short %>](https://network.pivotal.io/products/p-compliance-scanner/)
release page on Pivotal Network.

## <a id='features'></a>Key Features
<%= vars.product_short %> includes the following key features:

* Modified version of industry-recognized configuration benchmarks tuned for stemcells
* Bundled tests written in YAML, allowing for easier readability
* Reports of scan results for each Linux VM in the PCF deployment that
  highlight the compliance posture


## <a id="snapshot"></a>Product Snapshot
The following table provides version and version-support information about
<%= vars.product_short %>.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>1.1.19</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>September 24, 2019</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>OpenSCAP 1.3.1</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>2.3, 2.4, 2.5, 2.6, and 2.7</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service version(s)</td>
        <td>2.3, 2.4, 2.5, 2.6, and 2.7</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, and vSphere</td>
    </tr>
    <tr>
        <td>IPsec support</td>
        <td>Yes</td>
    </tr>
</table>


## <a id="limitations"></a>Limitations

<%= vars.product_short %> has the following limitations:

* Because of stemcell-related customization, benchmarks are not certified by a governing body.

* Windows VMs are not supported at this time.

* BOSH DNS cannot resolve the `oscap_store` VM URL if there is any capitalization in the network name.

<p class="note"><strong>Note:</strong> <%= vars.product_short %> can only scan Linux VMs running on Xenial
stemcells 97.x and 170.x and later.</p>


## <a id="feedback"></a>Feedback
Please provide any bugs, feature requests,
or questions to the
[Pivotal Cloud Foundry Feedback list](mailto:pivotal-cf-feedback@pivotal.io).
