---
title: Compliance Scanner for PCF (Beta)
owner: Pivotal Compliance and Innovation (PCI) Team
---
<strong><%= modified_date %></strong>


<p class="note warning">
<strong>WARNING! </strong>
The <%= vars.product_full %> tile is currently in beta and is intended for evaluation and test purposes only. 
However, this product can be used in a PCF production environment, as it does not have any impact on other tiles or Linux VMs.
</p>

The <%= vars.product_full %> (PCF) provides platform operators and auditors an assessment of each PCF Linux Virtual Machine (VM) running on Xenial stemcells, and if it is compliant with configuration guidelines.

The following VM types on an Operator's Ops Manager instance are skipped for scanning,
and will not have Compliance Scanner deployed on them:

  * Linux VMs running on Trusty stemcells
  * Non-Linux VMs


## <a id='overview'></a>Overview
Benchmarks for existing commercial configuration scanners are tuned for use against traditional Ubuntu servers.
This means that running these benchmark scans against a Stemcell would result in numerous false-positives.

The <%= vars.product_short %> addresses this issue by tuning industry-recognized Ubuntu configuration benchmarks for Stemcells.

It packages the following files for deployment on each BOSH-managed Linux VM:

  * The OpenSCAP (OSCAP) scanner
  * XFiles, a group of YML files, which contain configuration tests written in YML
  * The XCCDF Generator (XGen), which translates XFiles tests to the SCAP format.

<%= vars.product_short %> is installed through Pivotal Cloud Foundry Operations Manager (Ops Manager).
As part of the installation, it deploys each packaged component to each PCF Linux VM, as well as instantiating a new Linux VM for log retrieval called `oscap_store`.

Scans are triggered through Ops Manager, running as errands.
Upon a successful scan, operators can retrieve reports through the tile.
Operators can download these reports to their local machine.


## <a id='features'></a>Key Features
<%= vars.product_short %> includes the following key features:

* Modified version of industry recognized configuration benchmark tuned for Stemcells.
* Bundled tests written in YML, allowing for easier readability.
* Scan result report for each Linux VM in the foundation,
highlighting the compliance posture.


## <a id="snapshot"></a>Product Snapshot
The following table provides version and version-support information about <%= vars.product_short %>.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>v0.1 (Beta)</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>December 7, 2018</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>OpenSCAP v1.3.0</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v2.3.x, v2.4.x</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service version(s)</td>
        <td>v2.4.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>(EDIT) AWS?, Azure?, GCP?, and vSphere?</td>
    </tr>
    <tr>
        <td>IPsec support?</td>
        <td>(EDIT) ???</td>
    </tr>
</table>


## <a id="limitations"></a>Limitations
* Benchmarks are not certified by a governing body,
due to Stemcell related customization.
* Windows VMs are not supported at this time.


## <a id='disclaimer'></a>Disclaimer
* <%= vars.product_short %> is only able to scan Linux VMs running on Xenial stemcells (v16.04 and later).


## <a id="feedback"></a>Feedback
Please provide any bugs, feature requests, or questions to the [Pivotal Cloud Foundry Feedback list](mailto:pivotal-cf-feedback@pivotal.io).