---
title: Compliance Scanner for PCF (Beta)
owner: Pivotal Compliance and Innovation (PCI) Team
---
<strong><%= modified_date %></strong>


<p class="note warning">
<strong>WARNING! </strong>
The <%= vars.product_full %> tile is currently in beta and is intended for evaluation and test purposes only. 
Do not use this product in a PCF production environment.
</p>

The <%= vars.product_full %> (PCF) provides platform operators and auditors an assessment of each PCF component VM’s compliance posture against standard configuration guidelines.


## <a id='overview'></a>Overview
<p class="note">
**The overview describes the service that your product offers to PCF developers. 
Make sure to overview the features of the integration.
Don't focus only on the overview of your product that is being integrated.
See below for an example.**
</p>

Bundled tests for existing commercial configuration scanners are tuned for traditional Ubuntu servers, thus, running such scans against a Stemcell would yield numerous false-positives.

The <%= vars.product_short %> address this issue by tuning industry recognized Ubuntu configuration benchmarks for Stemcells. It packages the OSCAP scanner, configuration tests written in YML called XFiles, and  XGen, a tool that translates XFiles tests to the SCAP format. Despite being an Add-on, it is installed through Ops Man and as a part of the installation, it will deploy each packaged component to each VM, as well as instantiating a new VM for log retrieval.

Scans are triggered through Ops Man, running as errands. Upon a successful scan, report retrieval is available through the tile and downloadable to an operator’s local machine.


## <a id='features'></a>Key Features
<p class="note">
**Note**: This feature list will appear under **FEATURES** in the tile's listing on 
[Pivotal Network](http://network.pivotal.io). 
Make sure you list the key features of the tile (the integration). 
We cannot accept a list of the key features of your product that we are integrating.
</p>

<%= vars.product_short %> includes the following key features:

* Modified version of industry recognized configuration benchmark tuned for Stemcells.
* Bundled tests written in YML, allowing for easier readability.
* Scan result report for each VM in the foundation,
highlighting the compliance posture.


## <a id="snapshot"></a>Product Snapshot
The following table provides version and version-support information about <%= vars.product_short %>.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>vYOUR-VERSION-NUMBER</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>YOUR-RELEASE-DATE (Ex: July 1, 2019)</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>YOUR-SOFTWARE-COMPONENT-VERSION-NUMBER</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>vYOUR-COMPATIBLE-OPS-MAN-VERSION (Ex. 2.2.x, 2.3.x, and 2.4.x)</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service version(s)</td>
        <td>vYOUR-COMPATIBLE-PIVOTAL-APPLICATION-SERVICE-VERSION (Ex. 2.2.x, 2.3.x, and 2.4.x)</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS?, Azure?, GCP?, OpenStack?, and vSphere?</td>
    </tr>
    <tr>
        <td>IPsec support?</td>
        <td>[Yes or No]</td>
    </tr>
</table>


## <a id="reqs"></a>Requirements
<p class="note">
**Provide any general or specific requirements, prerequisites, or dependencies here. 
A general requirement might be something like, "An AppDynamics account." 
A specific requirement might be something like, "Packaging Dependencies for Offline Buildpacks."**
</p>

<%= vars.product_short %> has the following requirements:

+ PREREQUISITE-1

+ PREREQUISITE-2


## <a id="limitations"></a>Limitations
* Benchmarks are not certified by a governing body,
due to Stemcell related customization.
* Windows VM are not supported at this time.


## <a id='disclaimer'></a>Disclaimer
*


## <a id="feedback"></a>Feedback
Please provide any bugs, feature requests, or questions to the [Pivotal Cloud Foundry Feedback list](mailto:pivotal-cf-feedback@pivotal.io).