---
title: Compliance Scanner for PCF (Beta)
owner: Pivotal Compliance and Innovation (PCI) Team
---
<strong><%= modified_date %></strong>


<p class="note warning">
<strong>WARNING! </strong>
The <%= vars.product_full %> tile is currently in beta and is intended for evaluation and test purposes only. 
However, this product can be used in a PCF production environment, as it does not have any impact on other tiles or VMs.
</p>

The <%= vars.product_full %> (PCF) provides platform operators and auditors an assessment of each PCF component VM’s compliance posture against standard configuration guidelines.


## <a id='overview'></a>Overview
Bundled tests for existing commercial configuration scanners are tuned for traditional Ubuntu servers, thus, running such scans against a Stemcell would yield numerous false-positives.

The <%= vars.product_short %> address this issue by tuning industry recognized Ubuntu configuration benchmarks for Stemcells. It packages the OSCAP scanner, configuration tests written in YML called XFiles, and  XGen, a tool that translates XFiles tests to the SCAP format.Despite being an Add-on, it is installed through Ops Man and as a part of the installation, it will deploy each packaged component to each VM, as well as instantiating a new VM for log retrieval.

Scans are triggered through Ops Man, running as errands. Upon a successful scan, report retrieval is available through the tile and downloadable to an operator’s local machine.


## <a id='features'></a>Key Features
<%= vars.product_short %> includes the following key features:

* Modified version of industry recognized configuration benchmark tuned for Stemcells.
* Bundled tests written in YML, allowing for easier readability.
* Scan result report for each VM in the foundation,
highlighting the compliance posture.


## <a id="snapshot"></a>Product Snapshot
The following table provides version and version-support information about <%= vars.product_short %>.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>v0.1</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>December 7, 2018</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>OpenSCAP v1.3.0</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v2.3.x, v2.4.x</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service version(s)</td>
        <td>v2.4.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>(EDIT) AWS?, Azure?, GCP?, and vSphere?</td>
    </tr>
    <tr>
        <td>IPsec support?</td>
        <td>(EDIT) ???</td>
    </tr>
</table>


## <a id="limitations"></a>Limitations
* Benchmarks are not certified by a governing body,
due to Stemcell related customization.
* Windows VM are not supported at this time.


## <a id='disclaimer'></a>Disclaimer
* <%= vars.product_short %> is only able to scan Linux VMs.


## <a id="feedback"></a>Feedback
Please provide any bugs, feature requests, or questions to the [Pivotal Cloud Foundry Feedback list](mailto:pivotal-cf-feedback@pivotal.io).