---
title: Installing and Configuring Compliance Scanner for PCF (Beta)
owner: Pivotal Compliance and Innovation (PCI) Team
---

<strong><%= modified_date %></strong>

This topic describes how to install and configure <%= vars.product_full %>.

## <a id='install'></a> Install and Configure <%= vars.product_short %>

To install the <%= vars.product_short %> file on the Ops Manager Installation Dashboard, do the following:

1. Download the product file from Pivotal Network.

1. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload the product file. 

1. Under the **Import a Product** button, click **+** next to the version number of <%= vars.product_short %>. 
This adds the tile to your staging area.

1. Click the newly added **<%= vars.product_short %>** tile.


(EDIT)
## <a id='scan'></a> Configure Scans
This section is where you can specify which set of benchmarks to run and specify the expected value associated with various components for their corresponding tests.

1. Click **Scan Configuration**.

1. Configure the fields in the **Benchmarks** section as follows:

    <table class="nice">
        <th>Benchmark</th>
        <th>Description</th>
        <tr><td><strong>STIG for Ubuntu Xenial</strong></td>
                <td>The full Ubuntu 16.04 (Xenial) STIG published by DISA with trivial Stemcell specific changes to tests. A trivial change is limited to updating the file path and/or regex. These changes do not compromise the integrity of the tests themselves. The failing tests from scanning this benchmark highlights the fundamental differences between a Stemcell and its standard Ubuntu counterpart. Auditors can further assess each one individually to gauge the security impact.</td>
        </tr>
        <tr><td><strong>Base-Xenial</strong></td>
                <td>Is a subset of the full STIG where it only includes passing tests. This is meant to serve as a baseline for testing by highlighting the scan result of an unadulterated Stemcell against applicable tests.</td>
        </tr>
		<tr><td><strong>P1</strong></td>
                <td>This benchmark was developed inhouse and includes tests representative of the minimum recommended configuration baseline. All systems should implement, regardless of user environment or sensitivity of application data being processed.</td>
        </tr>
        <tr><td><strong>P2</strong></td>
                <td>Tests covered in this benchmark are reflective of the current best practices. The strict configuration being tested may not be required for low assurance applications.  However, they become requirements for systems processing sensitive data/workloads, even though they may potentially impact operator experience (i.e. requiring audit logging — takes time and space, but that’s a cost we accept for workloads that matter). </td>
        </tr>
    </table>

1. If you selected the **P1** or **P2** benchmarks above, some tests require additional system values.
   Configure the fields in the **Desired Test Values** section as follows:

    <table class="nice">
        <th>Field</th>
        <th>Description</th>
        <tr><td><strong>Max audit log file size</strong></td>
                <td>The maximum log file size in MB.</td>
        </tr>
        <tr><td><strong>NTP Server</strong></td>
                <td>The IP address of your NTP server.<br>
                	The field takes in one server. (EDIT?)<br>
                	You can find this in <strong>Bosh Director</strong> > <strong>Director Config</strong> > <strong>NTP Server</strong>.<br>
                </td>
        </tr>
		<tr><td><strong>Syslog host</strong></td>
                <td>The IP address of your syslog host.</td>
        </tr>
        <tr><td><strong>Syslog port</strong></td>
                <td>The port number of the syslog port.</td>
        </tr>
    </table>

1. Output Format:
The output of a scan can be in either log, xml or html formats.
A report will be generated for every VM, for every benchmark, for every log format.


## <a id="apply-changes"></a> Apply Changes from Your Configuration
Your installation is not complete until you apply your configuration changes.
Follow the steps below:

1. Return to the Ops Manager Installation Dashboard.

1. If you are using Ops Manager v2.3 (EDIT?) or later, click **Review Pending Changes**.
For more information about this Ops Manager page,
see [Reviewing Pending Product Changes](https://docs.pivotal.io/pivotalcf/customizing/review-pending-changes.html).

1. Click **Apply Changes** to complete the installation of <%= vars.product_short %>.


## <a id="errands"></a> Configure Errands
The tile performs one errand that initiates the scanning, and is on by default.
The (EDIT? Master?) errand, when triggered, kicks off the scanning errand on each VM.
If you do not want to scan every time changes are applied, then disable the errand.
You can also uncheck the errand on the review pending changes screen.
When scanning is done, a second errand is triggered by the initial errand to retrieve the logs from each VM.

## <a id="resources"></a> Resource Config
The tile instantiates a new VM called oscap_store, to store the logs retrieved from all the other VM’s. The resourcing of this VM can be configured here. The VM doesn’t do anything computationally extensive, thus smaller sizes are sufficient.

1. Click **Save**.

1. Return to the Ops Manager Installation Dashboard and click **Apply changes** to install <%= vars.product_short %> tile.

**If needed, include additional configuration information below. For example, maybe there are
configuration options not required for installation but which could be useful for certain users.**
