---
title: Installing and Configuring Compliance Scanner for PCF
owner: Pivotal Compliance and Innovation (PCI) Team
---
<strong><%= modified_date %></strong>

This topic describes how to install and configure <%= vars.product_full %>.

## <a id='prerequisite'></a> Prerequisite

Compliance Scanner for PCF runs a scanner daemon on each VM that requires ~100&nbsp;MB of memory.
Before you install Compliance Scanner, you might need to resize your VMs accordingly.

## <a id='install'></a> Install <%= vars.product_short %>
To install the <%= vars.product_short %> file on the Ops Manager Installation Dashboard:

1. Download the product file from [Pivotal Network](https://network.pivotal.io/products/compliance/).

1. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload the product file.

1. Under the **Import a Product** button, click **+** next to the version number of <%= vars.product_short %>.
This adds the tile to your staging area.

1. Click the newly added **<%= vars.product_short %>** tile.

## <a id='scan'></a> Configure Scans
This section is where you configure expected values for tests and select which set of benchmarks to run. To configure your scans:

1. Click **Settings**.

    <%= image_tag("compliance-settings.png", :alt => "Compliance Settings page") %>

1. Click **Assign AZs and Networks**.

1. Configure the fields as follows:

    <table class="nice">
      <th>Field</th>
      <th>Description</th>
      <tr>
        <td><strong>Place singleton jobs in</strong></td>
        <td>Select the AZ that you want the <code>oscap_store</code> VM to run in.<br>
          The tile runs as a singleton job.</td>
      </tr>
      <tr>
        <td><strong>Balance other jobs in</strong></td>
        <td>Select the same AZ as above.</td>
      </tr>
      <tr>
        <td><strong>Network</strong></td>
        <td>Select a subnet for the <code>oscap_store</code> VM. <br>This is typically the same subnet that
          includes the Pivotal Application Services (PAS) component VMs.</td>
      </tr>
    </table>

1. Click **Save**.

1. Click **System Variables**.

    <%= image_tag("system-var.png", :alt => "System Variables page", :width => "260") %>

1. Configure the fields in **System Variables** to provide the expected values for the tests:

    <table class="nice">
        <th>Field</th>
        <th>Description</th>
        <tr><td><strong>NTP Server IP</strong></td>
                <td>The IP address of your NTP server.<br> <br>You can find this IP address in
                  <strong>Bosh Director</strong> > <strong>Director Config</strong> >
                  <strong>NTP Server</strong>. You can only enter one server IP address. It does not
                  matter which NTP server you enter.
                </td>
        </tr>
        <tr><td><strong>Syslog Host IP</strong></td>
                <td>The IP address of your syslog host.<br><br>
                    You can find this in your PAS tile under
                    <strong>Settings > System Logging > Address</strong>.</td>
        </tr>
        <tr><td><strong>Syslog Port</strong></td>
                <td>The port number of the syslog port.<br><br>
                    You can find this in your PAS tile under
                    <strong>Settings > System Logging > Port</strong>.</td>
        </tr>
    </table>

1. Click **Save**.

1. Click **Scan Configuration**.

    <%= image_tag("scan-config.png", :alt => "Scan Configuration page", :width => "400") %>

1. Enable **Scan Report Formats**. You must select at least one format.
   The outputs of a scan can be in LOG, XML, and HTML formats.

1. Enable **Benchmarks** for the scanner to run:

    <table class="nice">
        <th>Benchmark</th>
        <th>Description</th>
        <tr><td><strong>Base Xenial</strong></td>
                <td>Includes a subset of the amended tests in the STIG benchmark,
                    where failing tests due to architectural differences are removed.<br>
                This is meant to be used as a measure to see if configurations have been altered.<br></td>
        </tr>
    	<tr><td><strong>Recommended Security Baseline</strong></td>
                <td>A benchmark with rules that all systems should implement, regardless of user
                  environment or the sensitivity of the app data being processed.</td>
        </tr>
        <tr><td><strong>Strict Security Practices</strong></td>
                <td>A benchmark with strict rules that are required of systems processing sensitive
                  data or workloads. This is meant to run in addition to the tests in the recommended
                  security baseline benchmark.</td>
        </tr>
        <tr><td><strong>STIG for Ubuntu Xenial</strong></td>
                <td>Includes all the configuration tests of the published DISA STIG
                  for Ubuntu 16.04, amended with stemcell specific changes. Contains tests that would
                  fail due to architectural differences.</td>
    </table>
    <br><br>
    A scan report is generated for each format and benchmark on each Linux VM running on Xenial stemcells.
    For example, if you select **.xml** and **.log** formats,
    and **Base Xenial** and **STIG** benchmarks, four log files are created for each VM tested.
    <br><br>
    For more information about <%= vars.product_short %> benchmarks, see [Benchmarks](./benchmarks.html).

1. For **Scanner Timeout**, configure the maximum time in seconds permitted for a scan. The default value is `600`.

1. For **Open File Limit**, configure the maximum number of files that the scanner is permitted to open.
If the scanner goes over this limit, the scan fails. The recommended value is at least 1024 plus twice the number of VMs.

1. Click **Save**.


## <a id="errands"></a> Configure Errands
<%= vars.product_short %> performs one errand that initiates scanning.
This errand is disabled by default.
This is so that a scan is not run every time changes are applied.

When this errand is triggered, it initiates the scanning errand on each VM.
For more information about initiating the scanning errand, see [Using <%= vars.product_short %>](./using.html).

When configuring the <%= vars.product_short %> tile for the first time:

1. Click **Errands**.

    <%= image_tag("errands.png", :alt => "Errands page") %>

1. Confirm that **Run configured scans** is set to **Default (Off)**.

1. Click **Save**.

## <a id="s3"></a> Configure S3 Upload
To optionally configure an S3 (or S3-compatible) bucket to upload your scan output,
click **S3 Upload**. The bucket must be hosted by AWS or Minio.

<p class="note"><strong>Note:</strong>
If this feature is enabled, the scan results are not stored on the local file system of the <code>oscap_store</code> VM,
and scan results are only accessible through the configured bucket.
If this feature is disabled, see <a href="./using.html#review-tile">Retrieve Log Files</a> for information about accessing the scan results.</p>

### <a id="aws-s3"></a> AWS S3 Bucket
If the S3 bucket you use for scan results is hosted by AWS:

1. Select **AWS S3 Bucket**

1. Configure the fields as follows:

    <table class="nice">
      <th>Field</th>
      <th>Description</th>
      <tr>
        <td><strong>Bucket Name</strong></td>
        <td>Enter the name of the bucket.</td>
      </tr>
      <tr>
        <td><strong>Bucket Region</strong></td>
        <td>Select the region that the bucket was created in.</td>
      </tr>
      <tr>
        <td><strong>Access Key ID</strong></td>
        <td>Enter the access key ID for AWS credentials with access to the bucket. <br>
          Pivotal recommends that you ensure the credentials permit write access to just this bucket.</td>
      </tr>
      <tr>
        <td><strong>Access Key Secret</strong></td>
        <td>Enter the access key secret for AWS credentials with access to the bucket. <br>
          Pivotal recommends that you ensure the credentials permit write access to just this bucket.</td>
      </tr>
    </table>

1. Click **Save**.

### <a id="minio-s3"></a> Minio Bucket
If the S3 bucket you use for scan results is hosted on a Minio server:

1. Select **Minio Bucket**

1. Configure the fields as follows:

    <table class="nice">
      <th>Field</th>
      <th>Description</th>
      <tr>
        <td><strong>Bucket Name</strong></td>
        <td>Enter the name of the bucket.</td>
      </tr>
      <tr>
        <td><strong>Minio Host</strong></td>
        <td>Enter the fully qualified domain name of the Minio server.
          This can include a port, but should not specify the protocol. <br>
          For instance, <code>example.domain.com:9000</code> is a valid host.</td>
      </tr>
      <tr>
        <td><strong>Bucket Region</strong></td>
        <td>If your Minio configuration specifies a region, enter that region here. <br>
          Otherwise, this field can be left blank.</td>
      </tr>
      <tr>
        <td><strong>Access Key ID</strong></td>
        <td>Enter the access key ID for the Minio server.</td>
      </tr>
      <tr>
        <td><strong>Access Key Secret</strong></td>
        <td>Enter the access key secret for the Minio server.</td>
      </tr>
      <tr>
        <td><strong>Bucket CA Certificate</strong></td>
        <td>Enter the CA Certificate used by the Minio server, if applicable.
          If the Minio server does not use TLS, leave this field blank. <br><br>
          If the Minio server is a PAS service instance, this CA Certificate must match the
          <strong>SAML Service Provider Credentials</strong> field under the <strong>UAA</strong> form in your PAS tile.</td>
      </tr>
    </table>

1. Click **Save**.

## <a id="resources"></a> Configure Resources
The tile creates a new VM called `oscap_store` to store the logs retrieved from all the other VMs
that have been scanned.

<p class="note"><strong>Note:</strong>
The <code>oscap_store</code> VM does not do anything computationally extensive.
Pivotal recommends using the default configurations.</p>

1. Click **Resource Config**.

1. Click **Save**.

## <a id="apply-changes"></a> Apply Changes from Your Configuration
Your installation is not complete until you apply your configuration changes:

1. Return to the Ops Manager Installation Dashboard.

1. Click **Review Pending Changes**. Ensure all products are selected.

1. Click **Apply Changes** to complete the installation of <%= vars.product_short %>.
