---
title: Release Notes for Compliance Scanner
owner: Pivotal Compliance and Innovation (PCI) Team
---
<strong><%= modified_date %></strong>

<%= partial '../../compliance/partials/branding-change'%>
<%= partial '../../compliance/partials/pcf-name-change'%>

These are release notes for <%= vars.product_full %>.

##<a id="1-3-X"></a> v1.3.X

**Release Date: MMMM XX, 2019**

### Features

New features and changes in this release:

* **CPU limit** for <%= vars.product_short %> is now configured independently of the **Enforce CPU limit** field.
  When you upgrade to v1.3 from v1.2, the value of **CPU limit** is reset to
  the installation default of 50%.<br>
  For instructions on setting the **CPU limit**, see [Configure Scans](./installing.html#scans).

*  You can now configure an S3 bucket for scan results if you have the instance profile name of the S3 bucket.
   You no longer need to know the access key ID and the secret access key for the S3 bucket.
   For information, see [Configure to Upload to an S3 Bucket](installing.html#s3-bucket).

### Known Issues

There are no known issues for this release.

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
dropdown at the top of this page.
