---
title: Updating Compliance Scanner for PCF (Beta)
owner: Pivotal Compliance and Innovation (PCI) Team
---

<strong><%= modified_date %></strong>

<%= partial ("beta-partial") %>

This topic describes how to update <%= vars.product_full %>.

## <a id='download'></a> Install the Latest Compliance Scanner for PCF Tile

Follow the steps under [Install Compliance Scanner for PCF](./installing.html#install)
to download and install the latest <%= vars.product_short %> tile.

1. Import new product and select the previously downloaded file.
1. Apply changes
1. Make sure all components are checked.
1. Apply Changes.

<p class="note"><strong>Note:</strong>
When upgrading <%= vars.product_short %>, you need to <strong>Apply Changes</strong>
on all components, such as PAS, so that the version of <%= vars.product_short %>
on the VMs match.</p>
