---
title: Upgrading Compliance Scanner for VMware Tanzu
owner: Platform Security & Compliance Team
---

<strong><%= modified_date %></strong>

This topic tells you how to upgrade <%= vars.product_full %>.

<%= partial vars.path_to_partials + "/upgrade-planner" %>

## <a id="overview"></a> Overview

After upgrading <%= vars.product_short %> to a later version, configured properties from your existing tile are
brought into the new installation.

VMware recommends that you review the **Scan**, **Errand**, and **Resource**
settings before applying changes.

## <a id="procedure"></a> Procedure

To upgrade your version of <%= vars.product_short %> to a later version:

1. Download the new version of the product file from <%= vars.product_network %>.
1. Follow the procedures found in [Installing and Configuring Compliance Scanner](./installing.html).
1. After applying changes to the <%= vars.product_short %> tile, **Apply Changes** again for all tiles.<br>
  This is so that the version of <%= vars.product_short %> on the VMs matches
  the version being used by the scanner.
