---
title: Using Compliance Scanner for PCF (Beta)
owner: Pivotal Compliance and Innovation (PCI) Team
---
<strong><%= modified_date %></strong>

<%= partial ("beta-partial") %>

This topic describes how to use <%= vars.product_full %>.

<%= vars.product_short %> performs one errand that initiates scanning.
When this errand is triggered, it initiates the scanning errand on each VM.
This errand is set to `Off` by default due to a timing issue.
Because the default is set to off, operators must manually enable the checkbox for the
Compliance Scanner errand on the **Review Pending Changes** screen.

To set the errand to `On` by default, go to the Compliance Scanner tile,
navigate to **Errand**, and enable the checkbox.

For more information on why the default value is set to `Off`, see [Why is the Scan Errand Off by Default?](faq.html#faq-default-off) in the FAQ topic.







1. (Optional) (EDIT - What would Auditors expect? Will this be frowned upon? Might be best to not state this from a legal standpoint) If you are certain that there are no other changes being applied,
and you only want to scan,
then you can disable checkboxes on other tiles to prevent them from being deployed.
Then click **Apply Changes** (EDIT - Check UI and accuracy of this statement).
  * For example, if the PAS tile is checked, it goes through the process of determining changes.
  This process occurs even if the tile does not have any changes,
  and results in it not re-deploying the tile.


##<a id='start-scan'></a> Initiate a Scan


To begin scanning, do the following:

1. Confirm that your scan is configured correctly with the benchmarks and log formats you want output.

    For more information on configuring your scan,
    see [Configure Scans](./installing.html#scan).

1. Navigate to the Ops Manager Installation Dashboard.

1. Click **REVIEW PENDING CHANGES**.

1. Enable the checkboxes for the <%= vars.product_short %> tile and the **Run config scans on PAS** errand.

    ![Review pending changes page with Compliance Scanner for PCF selected and Run config scans on PAS errand selected](review-pending-changes.png)

    <p class="note"><strong>Note: </strong>
    If there are changes from other sources, leave the those products and errands checkboxes
    if you want those changes to be applied.
    A scan is triggered at the end.</p>

1. Click **APPLY CHANGES**.

    When scanning is finished, a second errand is triggered by the Run-config-scans-on-PAS errand to retrieve the logs from each VM.

1. When complete, click into the Compliance Scanner tile, go to status. Click on the download button on the right (under LOGS) to download the all the scan results from the `oscap_store` tile VM to Ops Manager.

	**IMAGE**

1. Go to the "Logs" (EDIT - Check UI) tab and click on the ZIP file that corresponds to the desired scan result.
The timestamp listed on the right is when the download in the previous step was initiated.
This downloads the ZIP file to your local machine.


1. The results are in the following folder structure:

	**IMAGE**
