---
title: Using Compliance Scanner for PCF (Beta)
owner: Pivotal Compliance and Innovation (PCI) Team
---
<strong><%= modified_date %></strong>

<%= partial ("beta-partial") %>

This topic describes how to use <%= vars.product_full %>.

<%= vars.product_short %> performs one errand that initiates scanning.
When this errand is triggered, it initiates the scanning errand on each VM.

The scanning errand is set to `Off` by default.
When you are ready to perform a scan, use the **Review Pending Changes** page to turn on the errand
and initiate scanning. See [Initiate a Scan](start-scan).


For more information on why the default value is set to `Off`,
see [Why is the Scan Errand Off by Default?](faq.html#faq-default-off) in the FAQ topic.


##<a id='start-scan'></a> Initiate a Scan


To begin scanning, do the following:

1. Confirm that your scan is configured correctly with the benchmarks and log formats you want output.

    For more information on configuring your scan,
    see [Configure Scans](./installing.html#scan).

1. Navigate to the Ops Manager Installation Dashboard.

1. Click **REVIEW PENDING CHANGES**.

1. Enable the checkboxes for the <%= vars.product_short %> tile and the **Run config scans on PAS** errand.

    ![Review pending changes page with Compliance Scanner for PCF selected and Run config scans on PAS errand selected](review-pending-changes.png)

    <p class="note"><strong>Note: </strong>
    If there are changes from other sources, leave those products and errands checkboxes enabled
    if you want those changes to be applied.
    A scan is triggered at the end.</p>

1. Click **APPLY CHANGES**.

    When scanning is finished, a second errand is triggered by the Run-config-scans-on-PAS errand to retrieve the logs from each VM.

##<a id='review-scan'></a> Review a Completed Scan


To confirm that the scan completed, do the following:

1. When the changes have been applied, return to the Installation Dashboard
   and click the <%= vars.product_short %> tile.

    ![dialog at the end of apply changes](changes-applied.png)

1. Click the **Status** tab and download the oscap_store log file.

    This downloads the log file containing scan results from the `oscap_store` VM to Ops Manager.

1. Click the **Logs** tab and click on the filename of the ZIP log file.

    This downloads the scan results from the Ops Manager to your local machine.

	![The logs pane from where the zipped scan logs can be downloaded](download-logs.png)

    The timestamp indicates when the scan was initiated.


1. Decompress the downloaded file. 
 
    The contents of the downloaded file depend on the formats and benchmarks you selected during configuration.
